<div class="footer_contents">
    <div class="footer_links">
        <p><a>記事一覧</a></p>
        <p><a>私たちについて</a></p>
        <p><a>この記事を執筆する際に使用している(またはおすすめの)リソースパック</a></p>
        <p><a>利用規約</a>と<a>プライバシーポリシー</a></p>
        <p><a>お問い合わせ</a></p>
    </div>
    <div class="footer_about_this">
        <p>連絡方法</p>
        <ul>
            <li><a>Webから</a>(原則この方法をご利用ください。)</li>
            <li><a>mc.edu.wiki[a]gmail.com</a>([a]をアットマークに置き換えてご利用ください。また、このプロジェクトが発足した当時に取得したアドレスのため、アカウント名がportalではなくwikiとなっております。ご注意ください。)
            </li>
        </ul>
    </div>
</div>
<small>© Hoshimikan6490 2023</small>