<input title="メニューを開く" type="checkbox" id="menu-checkbox">
<label for="menu-checkbox" id="menu_label">
    <span class="menu_btn">
        <span></span>
        <span></span>
        <span></span>
    </span>
</label>
<nav class="menu">
    <ul class="no_list_icon" style="margin-top: 0px;">
        <li class="menu_style"><a href="/" class="menu_style">ホーム</a></li>
        <li>
            <hr>
        </li>
        <li>
            <details>
                <summary class="menu_style">デフォルト機能</summary>
                <ul class="no_list_icon">
                    <li><a href="/default/how_to_update" class="menu_style margin-left">更新をする方法</a>
                    </li>
                    <li><a href="/default/how_to_reinstall" class="menu_style margin-left">再インストールする方法</a>
                    </li>
                    <li><a href="/default/how_to_backup" class="menu_style margin-left">データのバックアップをする方法</a>
                    </li>
                    <li><a href="/default/edu_only_contents" class="menu_style margin-left">教育版限定機能</a>
                    </li>
                    <li><a href="/default/how_to_MultiPlay" class="menu_style margin-left">マルチプレイをする方法</a>
                    </li>
                    <li><a href="/default/how_to_TakePicture" class="menu_style margin-left">写真を撮る方法</a>
                    </li>
                    <li>
                        <details style="margin-left: 20px;">
                            <summary class="menu_style">Makecodeについて</summary>
                            <ul class="no_list_icon">
                                <li><a href="/default/about_makecode/what_is_makecode"
                                        class="menu_style margin-left">Makecodeとは</a>
                                </li>
                                <li><a href="/default/about_makecode/work_of_makecode"
                                        class="menu_style margin-left">Makecode作品集</a>
                                </li>
                                <li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </details>
        </li>
        <li>
            <hr>
        </li>
        <li>
            <details>
                <summary class="menu_style">小技</summary>
                <ul class="no_list_icon">
                    <li><a href="/useful_info/how_to_use_CustomSkin" class="menu_style margin-left">カスタムスキンを使う方法</a>
                    </li>
                    <li><a href="/useful_info/how_to_edu_to_be"
                            class="menu_style margin-left">ワールドデータを教育版から統合版に<br>&emsp;変換する方法</a></li>
                    <li><a href="/useful_info/how_to_use_ResourcePack" class="menu_style margin-left">リソースパックを使う方法</a>
                    </li>
                    <li><a href="/useful_info/how_to_make_ResourcePack" class="menu_style margin-left">リソースパックを作る方法</a>
                    </li>
                    <li><a href="/useful_info/how_to_make_geography" class="menu_style margin-left">地上絵を簡単に作る方法</a></li>
                </ul>
            </details>
        </li>
        <li>
            <hr>
        </li>
        <li>
            <details>
                <summary class="menu_style">MCEE 更新情報</summary>
                <ul class="no_list_icon">
                    <li><a href="/update_info/versiton_1-17-30-5" class="menu_style margin-left">version-1.17.30.5</a>
                    </li>
                    <li><a href="/update_info/version_1-18-32" class="menu_style margin-left">version-1.18.32</a>
                    </li>
                </ul>
            </details>
        </li>
        <li>
            <hr>
        </li>
        <li>
            <details>
                <summary class="menu_style">データベース</summary>
                <ul class="no_list_icon">
                    <li><a href="/database/urls" class="menu_style margin-left">関連URL</a></li>
                    <li><a href="/database/faq" class="menu_style margin-left">FAQ</a></li>
                    <li><a href="/database/blockID_and_more" class="menu_style margin-left">ブロックidなど</a>
                    </li>
                </ul>
            </details>
        </li>
        <li>
            <hr>
        </li>
        <li class="menu_style"><a href="/about_us" class="menu_style">私たちについて</a></li>
        <li>
            <hr>
        </li>
        <li class="menu_style"><a href="/using_and_recommend_ResourcePacks" class="menu_style">使用中・おすすめリソースパック</a></li>
        <li>
            <hr>
        </li>
        <li>
            <details>
                <summary class="menu_style">利用規約とプライバシーポリシー</summary>
                <ul class="no_list_icon">
                    <li><a href="/html/terms_and_PrivacyPolicy/terms" class="menu_style margin-left">利用規約</a></li>
                    <li><a href="/html/terms_and_PrivacyPolicy/PrivacyPolicy"
                            class="menu_style margin-left">プライバシーポリシー</a></li>
                </ul>
            </details>
        </li>
        <li>
            <hr>
        </li>
        <li class="menu_style"><a href="/help" class="menu_style">ヘルプ</a></li>
        <li>
    </ul>
</nav>

<a href="/" class="logo_img"><img src="/image/logo.png" style="height: 100%;" alt="団体ロゴ"></a>
<a href="/" class="logo header_title">教育版マインクラフト 非公式ポータル</a>