<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include('../../templates/head'); %>
        <title>【重要】本サイトに関して｜教育版マインクラフト 非公式ポータル</title>
</head>

<body>
    <header class="header">
        <%- include('../../templates/header'); %>
    </header>

    <main>
        <%- include('../../templates/body'); %>
            <div class="top_image">
                <img src="../image/backgrownd-bokashi.jpg" style="padding-top: -320px; width: 100%;">
                <h1>【重要】本サイトに関して</h1>
            </div>
    </main>

    <footer>
        <%- include('../../templates/footer'); %>
    </footer>

</body>

</html>