main {
  padding-top: 60px;
}

.top_image {
  position: relative;
}

.top_image h1 {
  position: absolute;
  color: white;
  font-size: 300%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 0;
}

.wrapper {
  display: flex;

}
.main_contents {
  flex: 1;
  margin: 0 20px;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  padding: 10px;
}
.main_contents h2 {
  margin-top: 5px;
}
.main_contents p {
  text-indent: 10px;
}
.side_bar {
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  padding: 10px;
}

.side_bar h2 {
  margin-top: 5px;
}

.profile {
  width: 100%;
  text-align: center;
}

a.profile_link {
  display: block;
  width: 100%;
  color: black;
  text-decoration-line: none;
}

.profile img {
  width: 70px;
}

@media screen and (max-width: 765px) {
  .wrapper {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    min-width: initial;
  }
  .main_contents {
    margin: 0;
  }
  .side_bar {
    margin-top: 10px;
  }

  a.profile_link {
    width: 50%;
    margin: auto;
  }
}
