.no_list_icon {
  list-style: none;
  padding: 0px;
}

.margin-left {
  margin-left: 20px;
}

body {
  margin: 0px;
}

h1 {
  font-size: 2vw;
}

h2 {
  color: #7F1146;
}

.kaigyo span {
  display: inline-block;
}

.body_contents {
  display: flex;
}

.left_contents {
  width: 50%;
}

.right_contents {
  width: 20%;
}