.famous_articles {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.popular_articles {
  margin: 10px;
  display: flex;
}

.article_link {
  margin: 10px;
  display: flex;
  width: 45%;
  color: black;
  text-decoration-line: none;
}

.popular_articles img {
  width: 75%;
}

.article_name {
  margin-left: 5px;
  height: 100%;
  display: flex;
  align-items: center;
}

.article_name h3 {
  text-indent: 0px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  color: black;
}

@media screen and (max-width: 765px) {
  .famous_articles {
    max-width: 544px;
    display: block;
    margin: auto;
  }

  .article_link {
    width: 100%;
  }

  .popular_articles img {
    width: 50%;
  }

  .article_name {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }
}
