<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include('../templates/head'); %>
        <title>ホーム｜教育版マインクラフト 非公式ポータル</title>
</head>

<body>
    <header class="header">
        <%- include('../templates/header'); %>
    </header>

    <main>
        <%- include('../templates/body'); %>
            <div class="top_image">
                <img src="../image/backgrownd-bokashi.jpg" style="height: 400px; width: 100%; object-fit: cover;">
                <div class="kaigyo">
                    <h1>
                        <span>教育版</span><span>マインクラフトで</span><span>役立つ情報を！</span>
                    </h1>
                </div>
            </div>
            <div class="wrapper">
                <div class="main_contents">
                    <h2>このサイトを開設した理由</h2>
                    <p>このプロジェクトは、Minecraftの日本語版の情報をまとめているサイトが無かったので、作ってみました！</p>
                    <br>
                    <hr>
                    <h2>このサイトの対象者</h2>
                    <p> 本サイトは、Minecraft Education Editionを使用する指導者に向けて、Minecraft Education
                        Editionに関連する情報を載せています。<br>また、生徒たちにも使いやすいようにしてあります。</p>
                    <br>
                    <hr>
                    <h2>お知らせ</h2>
                    <table>
                        <tr>
                            <th>2023/7/29 18:45 |</th>
                            <th><a href="/information/about_same_domain_site">【重要】本サイトに関して</a></th>
                        </tr>
                        <tr>
                            <th>2022/2/1 18:28 |</th>
                            <th><a href="/information/important_about_this-site">類似ドメインのサイトに関して</a></th>
                        </tr>
                    </table>
                </div>
                <div class="side_bar">
                    <a>other contents like guide</a>
                </div>
            </div>
    </main>

    <footer>
        <%- include('../templates/footer'); %>
    </footer>

</body>

</html>