<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include('../templates/head'); %>
        <title>ホーム｜教育版マインクラフト 非公式ポータル</title>
</head>

<body>
    <header class="header">
        <%- include('../templates/header'); %>
    </header>

    <main>
        <%- include('../templates/body'); %>
            <div class="top_image">
                <img src="../image/backgrownd-bokashi.jpg" style="height: 400px; width: 100%; object-fit: cover;">
                <div class="kaigyo">
                    <h1>
                        <span>教育版</span><span>マインクラフトで</span><span>役立つ情報を！</span>
                    </h1>
                </div>
            </div>
            <div class="body_contents kaigyo">
                <span class="left_contents">
                    <div>
                        <h2>このサイトを開設した理由</h2>
                        <a>hello</a>
                    </div>
                </span>
                <span class="right_contents">
                    <div>
                        <a>other contents like guide</a>
                    </div>
                </span>
            </div>
    </main>

    <footer>
        <%- include('../templates/footer'); %>
    </footer>

</body>

</html>